*
!app/
!app/package.json
!app/package-lock.json
!app/tsconfig.json
!app/src/
!app/src/**
!app/electron/
!app/electron/**
!nen-browser/
!nen-browser/**
!LICENSE
**/node_modules
**/dist
**/.local
**/test-results
**/*.log
**/.env*
nen-browser/server.cjs
nen-browser/server-meta.json
