node_modules/
dist/
dist-electron/
release/
vendor/
.local/
tests/
/scripts/*
!/scripts/build.mjs
!/scripts/dev.mjs
!/scripts/e2e-watch.mjs
!/scripts/setup-media.mjs
/run.ps1
.env
.env.*
*.log
*.tsbuildinfo
coverage/
playwright-report/
test-results/
.vscode/
.idea/
.DS_Store
Thumbs.db

test-builds/
